.header {
  width: 85%;
  margin: auto;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header__logo {
  width: 7em;
  border-radius: 0.5em;
  cursor: pointer;
}

.header ul li {
  color: #262626;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  position: relative;
}

.header ul li a {
  text-decoration: none;
  font-weight: lighter;
}

.header ul li::after {
  content: "";
  height: 1.5px;
  width: 0%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}

.header ul li:hover::after {
  width: 100%;
}

@media only screen and (max-width: 360px) {
  .header {
    flex-direction: column;
  }
}
