* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #ffff;
  display: grid;
  grid-template-areas:
    "Header"
    "Content"
    "Footer";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

.header {
  grid-area: Header;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header__logo {
  width: 7em;
  cursor: pointer;
}

.header__ul li {
  color: #262626;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__ul li a {
  text-decoration: none;
  font-weight: lighter;
}

.header__ul li::after {
  content: "";
  height: 1.5px;
  width: 0%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}

.header__ul li:hover::after {
  width: 100%;
}

.header__submenu:hover {
  text-decoration: none;
  font-weight: lighter;
}

.content {
  grid-area: Content;
}

.content__card {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px auto;
  padding: 2rem;
  border-radius: 10px;
  border-top: solid black;
  border-bottom: solid black;
}

.content__card__title {
  font-size: 100%;
  margin: 3px auto;
  text-align: center;
  background-color: lightslategrey;
  border: ridge;
  padding: auto;
}

.game__card,
.content__game {
  display: flex;
  margin: 30px auto;
  align-content: center;
  justify-content: center;
}
.game__img,
.content__game__img {
  display: inline-block;
  max-width: 350px;
  max-height: auto;
  margin-right: 10px;
}

.img__login--form {
  width: 150px;
}
.img__login--header {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.content__card__img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
}
.content__destaques {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 80% 10%;
  height: calc(100vh -50px);
}

.content__destaques__principal {
  width: auto;
  height: 100vh;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.content__destaques {
  background-color: #107c10;
  height: 70vh;
  grid-column: 1/ 1;
  grid-column: 4/ 4;
  grid-row: 2 / 3;
}

.footer {
  grid-area: Footer;
  text-align: center;
  font-size: 14px;
}

.content__Form {
  background-color: #107c10;
  width: 100%;
  height: 90vh;
}

.content__titulo__form {
  text-align: center;
  font-size: 1.5rem;
}

.card-form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  padding: 44px;
  margin-bottom: 28px;
  background-color: #ffff;
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
}

.card-form input {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  padding-left: 0;
  height: 36px;
  background-color: transparent;
  margin-bottom: 1rem;
}

.content__button {
  color: #fff;
  border-color: #0067b8;
  background-color: #0067b8;
  bottom: 0;
  right: 0;
  padding: 4px 12px 4px 12px;
  position: relative;
  max-width: 100%;
  text-align: center;
}
.content__button:hover {
  background-color: #005da6;
  cursor: pointer;
}

.content__iframe li {
  color: #262626;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.button {
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 0.5em 0;
  padding: 1em 1em;
  width: 100%;
}

.button--success {
  background-color: #099870;
  color: white;
}

.button--success:hover {
  background-color: #0b7456;
}

.button--primary {
  background-color: #007bff;
  color: white;
}

.button--primary:hover {
  background-color: #0768cf;
}

.button--danger {
  background-color: #dc3545;
  color: white;
}

.button--danger:hover {
  background-color: #b12937;
}
