* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #ffff;
  display: grid;
  grid-template-areas:
    "Header"
    "Content"
    "Footer";
  grid-template-columns: auto;
  grid-template-rows: 50px 90vh auto;
}

.header {
  grid-area: Header;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header__logo {
  width: 7em;
  cursor: pointer;
}

.header ul li {
  color: #262626;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  position: relative;
}

.header ul li a {
  text-decoration: none;
  font-weight: lighter;
}

.header ul li::after {
  content: "";
  height: 1.5px;
  width: 0%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}

.header ul li:hover::after {
  width: 100%;
}

.content {
  grid-area: Content;
}

.imgcarrocel {
  width: 250px;
  height: 350px;
  max-width: 250px;
  max-height: 350px;
}
.content__destaques {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 55% 35%;
  height: calc(100vh -50px);
}

.content__destaques__principal {
  height: 100vh;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.footer {
  grid-area: Footer;
}
